# Chicago West Nile Virus

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 
import datetime
!pip install suntime
from suntime import Sun, SunTimeException
from pytz import timezone
import pytz

# allow pandas to display all columns as dataset has a total of 81 columns
pd.set_option("display.max_columns", 150)
pd.set_option("display.max_rows", 150)

Requirement already satisfied: suntime in c:\users\yx\anaconda3\lib\site-packages (1.2.5)
Requirement already satisfied: python-dateutil in c:\users\yx\anaconda3\lib\site-packages (from suntime) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\yx\anaconda3\lib\site-packages (from python-dateutil->suntime) (1.15.0)

# Functions

In [2]:
def check_missing_data(column):
    return weather_df[weather_df[column] == 'M']

In [3]:
def impute_missing_data(column):
    for k, v in enumerate(weather_df[column]):
        if v == 'M' and weather_df.iloc[k]['Station'] == 1:
            weather_df.loc[k, column] = weather_df[column][k+1]
        if v == 'M' and weather_df.iloc[k]['Station'] == 2:
            weather_df.loc[k, column] = weather_df[column][k-1]
    weather_df[column] = weather_df[column].astype(int)

In [4]:
def impute_missing_float_data(column):
    for k, v in enumerate(weather_df[column]):
        if v == 'M' and weather_df.iloc[k]['Station'] == 1:
            weather_df.loc[k, column] = weather_df[column][k+1]
        if v == 'M' and weather_df.iloc[k]['Station'] == 2:
            weather_df.loc[k, column] = weather_df[column][k-1]
    weather_df[column] = weather_df[column].astype(float)

In [5]:
def to_celsius(temp):
    celsius = ((temp - 32.0) * 5.0) / 9.0
    return float(celsius)

In [6]:
def humidity(row):
    row['Humidity'] = round(100 * (np.exp((17.625 * row['DewPoint'])/(243.04 + row['DewPoint'])) / np.exp((17.625 * row['Tavg'])/(243.04 + row['Tavg']))))
    return row

In [7]:
def daylength(time):
    min = (time//100)*60
    min+= time%100
    return(min)

In [8]:
def proper_code(string):
    lst = []
    for word in string.split(' '):
        if len(word) > 3:
            lst.extend([word[:2], word[2:]])
        else:
            lst.append(word)
    lst = list(set(lst))
    return ' '.join(lst)

# Import Dataset

In [9]:
# weather_df = pd.read_csv('../data/weather.csv')
weather_df = pd.read_csv('./data/weather.csv')

# Weather Dataset

In [10]:
weather_df.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [11]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [12]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   object
 2   Tmax         2944 non-null   int64
 3   Tmin         2944 non-null   int64
 4   Tavg         2944 non-null   object
 5   Depart       2944 non-null   object
 6   DewPoint     2944 non-null   int64
 7   WetBulb      2944 non-null   object
 8   Heat         2944 non-null   object
 9   Cool         2944 non-null   object
 10  Sunrise      2944 non-null   object
 11  Sunset       2944 non-null   object
 12  CodeSum      2944 non-null   object
 13  Depth        2944 non-null   object
 14  Water1       2944 non-null   object
 15  SnowFall     2944 non-null   object
 16  PrecipTotal  2944 non-null   object
 17  StnPressure  2944 non-null   object
 18  SeaLevel     2944 non-null   object
 19  ResultSpeed  2944 non-null   float64
 20  ResultDir    2944 non-null   int64
 21  AvgSpeed     2944 non-null   object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [13]:
weather_df.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [14]:
weather_df.isin(['  T']).sum()[weather_df.isin(['  T']).sum() > 0]

SnowFall        12
PrecipTotal    318
dtype: int64

In [15]:
weather_df.isin(['M']).sum()[weather_df.isin(['M']).sum() > 0]

Tavg             11
Depart         1472
WetBulb           4
Heat             11
Cool             11
Depth          1472
Water1         2944
SnowFall       1472
PrecipTotal       2
StnPressure       4
SeaLevel          9
AvgSpeed          3
dtype: int64

### Date

In [16]:
# Convert date to datetime
weather_df['Date'] = pd.to_datetime(weather_df['Date'], format='%Y-%m-%d')

### Tavg
Tavg is the average of Tmin and Tmax, hence we will impute Tavg with the mean of Tmin and Tmax.

In [17]:
check_missing_data('Tavg')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,M,M,42,50,M,M,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,M,M,68,71,M,M,-,-,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,M,M,41,47,M,M,-,-,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,M,M,70,74,M,M,-,-,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,M,M,51,61,M,M,-,-,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,M,M,39,45,M,M,-,-,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,M,M,48,54,M,M,-,-,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,M,M,48,54,M,M,-,-,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,M,M,44,50,M,M,-,-,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,-,-,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,M,M,68,71,M,M,-,-,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [18]:
weather_df['Tavg'] = weather_df.apply(lambda x: (x.Tmax + x.Tmin) / 2 if x.Tavg == 'M' else x.Tavg, axis=1)

In [19]:
weather_df['Tavg'] = weather_df['Tavg'].astype(float)

In [20]:
weather_df['Tavg'].dtype

dtype('float64')

### Tmin

In [21]:
weather_df['Tmin'] = weather_df['Tmin'].astype(float)

### Tmax

In [22]:
weather_df['Tmax'] = weather_df['Tmax'].astype(float)

### Depart

In [23]:
check_missing_data('Depart')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84.0,52.0,68.0,M,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60.0,43.0,52.0,M,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67.0,48.0,58.0,M,40,50,7,0,-,-,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78.0,51.0,64.5,M,42,50,M,M,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66.0,54.0,60.0,M,39,50,5,0,-,-,,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2,2014-10-27,79.0,54.0,67.0,M,52,59,0,2,-,-,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66.0,48.0,57.0,M,40,48,8,0,-,-,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49.0,40.0,45.0,M,34,42,20,0,-,-,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53.0,37.0,45.0,M,35,42,20,0,-,-,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49.0,34.0,42.0,M,29,36,23,0,-,-,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [24]:
impute_missing_data('Depart')

In [25]:
weather_df['Depart'].dtype

dtype('int32')

### WetBulb

In [26]:
check_missing_data('WetBulb')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
848,1,2009-06-26,86.0,69.0,78.0,7,60,M,0,13,0418,1931,,0,M,0.0,0.00,M,29.85,6.4,4,8.2
2410,1,2013-08-10,81.0,64.0,73.0,0,57,M,0,8,0454,1900,,0,M,0.0,0.00,M,30.08,5.3,5,6.5
2412,1,2013-08-11,81.0,60.0,71.0,-2,61,M,0,6,0455,1859,RA,0,M,0.0,0.01,29.35,30.07,2.0,27,3.0
2415,2,2013-08-12,85.0,69.0,77.0,2,63,M,0,12,-,-,RA,M,M,M,0.66,29.27,29.92,4.5,26,7.7

In [27]:
impute_missing_data('WetBulb')

In [28]:
weather_df['WetBulb'].dtype

dtype('int32')

### Heat

In [29]:
check_missing_data('Heat')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78.0,51.0,64.5,4,42,50,M,M,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86.0,46.0,66.0,5,68,71,M,M,-,-,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62.0,46.0,54.0,-4,41,47,M,M,-,-,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100.0,71.0,85.5,5,70,74,M,M,-,-,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84.0,72.0,78.0,-1,51,61,M,M,-,-,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71.0,42.0,56.5,-5,39,45,M,M,-,-,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91.0,52.0,71.5,-1,48,54,M,M,-,-,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84.0,53.0,68.5,1,48,54,M,M,-,-,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76.0,48.0,62.0,-1,44,50,M,M,-,-,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80.0,47.0,63.5,-4,43,47,M,M,-,-,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86.0,49.0,67.5,8,68,71,M,M,-,-,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [30]:
impute_missing_data('Heat')

In [31]:
weather_df['Heat'].dtype

dtype('int32')

### Cool

In [32]:
check_missing_data('Cool')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78.0,51.0,64.5,4,42,50,7,M,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86.0,46.0,66.0,5,68,71,0,M,-,-,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62.0,46.0,54.0,-4,41,47,11,M,-,-,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100.0,71.0,85.5,5,70,74,0,M,-,-,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84.0,72.0,78.0,-1,51,61,0,M,-,-,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71.0,42.0,56.5,-5,39,45,16,M,-,-,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91.0,52.0,71.5,-1,48,54,5,M,-,-,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84.0,53.0,68.5,1,48,54,5,M,-,-,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76.0,48.0,62.0,-1,44,50,10,M,-,-,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80.0,47.0,63.5,-4,43,47,15,M,-,-,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86.0,49.0,67.5,8,68,71,0,M,-,-,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [33]:
impute_missing_data('Cool')

In [34]:
weather_df['Cool'].dtype

dtype('int32')

### Sunrise and Sunset

In [35]:
weather_df[weather_df['Sunrise'] == '-']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84.0,52.0,68.0,14,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60.0,43.0,52.0,-3,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67.0,48.0,58.0,2,40,50,7,0,-,-,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78.0,51.0,64.5,4,42,50,7,0,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66.0,54.0,60.0,5,39,50,5,0,-,-,,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2,2014-10-27,79.0,54.0,67.0,16,52,59,0,2,-,-,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66.0,48.0,57.0,10,40,48,8,0,-,-,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49.0,40.0,45.0,-4,34,42,20,0,-,-,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53.0,37.0,45.0,-4,35,42,20,0,-,-,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49.0,34.0,42.0,-6,29,36,23,0,-,-,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [36]:
weather_df[weather_df['Sunset'] == '-']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84.0,52.0,68.0,14,51,57,0,3,-,-,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60.0,43.0,52.0,-3,42,47,13,0,-,-,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67.0,48.0,58.0,2,40,50,7,0,-,-,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78.0,51.0,64.5,4,42,50,7,0,-,-,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66.0,54.0,60.0,5,39,50,5,0,-,-,,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2,2014-10-27,79.0,54.0,67.0,16,52,59,0,2,-,-,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66.0,48.0,57.0,10,40,48,8,0,-,-,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49.0,40.0,45.0,-4,34,42,20,0,-,-,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53.0,37.0,45.0,-4,35,42,20,0,-,-,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49.0,34.0,42.0,-6,29,36,23,0,-,-,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [37]:
latitude = 41.786
longitude = -87.752

sun = Sun(latitude, longitude)

central = timezone('US/Central')

sunrise_list = []
sunset_list = []
for value in weather_df['Date']:
    abd = value
    abd_sr = sun.get_local_sunrise_time(value, local_time_zone=central)
    abd_sr = abd_sr - abd_sr.dst()
    abd_ss = sun.get_local_sunset_time(value, local_time_zone=central)
    abd_ss = abd_ss - abd_ss.dst()
    sunrise_list.append(abd_sr.strftime('%H%M'))
    sunset_list.append(abd_ss.strftime('%H%M'))

In [38]:
index = weather_df.loc[weather_df['Station'] == 2].index

for i in index:
    weather_df.loc[i, 'Sunrise'] = sunrise_list[i]
    weather_df.loc[i, 'Sunset'] = sunset_list[i]

In [39]:
# Check updated values
weather_df[['Sunrise', 'Sunset']][weather_df['Station'] == 2]

     Sunrise Sunset
1       0448   1849
3       0447   1850
5       0445   1851
7       0444   1852
9       0443   1853
...      ...    ...
2935    0617   1652
2937    0618   1651
2939    0620   1649
2941    0621   1648
2943    0622   1647

[1472 rows x 2 columns]

### SnowFall
'T' which represents 'Trace', denotes that there is an amount of precipitation, which is greater than zero but is too small to be measured. The lowest value in SnowFall is 0 and the second lowest is 0.1, hence we will impute 'T' with the mean of these 2 numbers, which is 0.05.

In [40]:
weather_df.loc[weather_df['SnowFall'] == '  T', 'SnowFall'] = 0.05

In [41]:
check_missing_data('SnowFall')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
1,2,2007-05-01,84.0,52.0,68.0,14,51,57,0,3,0448,1849,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
3,2,2007-05-02,60.0,43.0,52.0,-3,42,47,13,0,0447,1850,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
5,2,2007-05-03,67.0,48.0,58.0,2,40,50,7,0,0445,1851,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78.0,51.0,64.5,4,42,50,7,0,0444,1852,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
9,2,2007-05-05,66.0,54.0,60.0,5,39,50,5,0,0443,1853,,M,M,M,T,29.46,30.09,11.2,7,11.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,2,2014-10-27,79.0,54.0,67.0,16,52,59,0,2,0617,1652,RA,M,M,M,0.02,29.00,29.67,12.7,19,13.6
2937,2,2014-10-28,66.0,48.0,57.0,10,40,48,8,0,0618,1651,RA,M,M,M,0.03,29.23,29.85,14.0,26,14.6
2939,2,2014-10-29,49.0,40.0,45.0,-4,34,42,20,0,0620,1649,,M,M,M,0.00,29.42,30.07,8.5,29,9.0
2941,2,2014-10-30,53.0,37.0,45.0,-4,35,42,20,0,0621,1648,RA,M,M,M,T,29.41,30.10,5.9,23,6.5
2943,2,2014-10-31,49.0,34.0,42.0,-6,29,36,23,0,0622,1647,RA SN BR,M,M,M,0.04,29.54,30.20,21.7,34,22.6

In [42]:
impute_missing_float_data('SnowFall')

In [43]:
weather_df['SnowFall'].value_counts()

0.00    2918
0.05      24
0.10       2
Name: SnowFall, dtype: int64

In [44]:
weather_df['SnowFall'].dtype

dtype('float64')

### PrecipTotal
'T' which represents 'Trace', denotes that there is an amount of precipitation, which is greater than zero but is too small to be measured. The lowest value in PrecipTotal is 0 and the second lowest is 0.01, hence we will impute 'T' with the mean of these 2 numbers, which is 0.005.

In [45]:
weather_df['PrecipTotal'].value_counts(ascending = False)

0.00    1577
  T      318
0.01     127
0.02      63
0.03      46
        ...
1.18       1
1.35       1
2.17       1
3.17       1
1.07       1
Name: PrecipTotal, Length: 168, dtype: int64

In [46]:
weather_df.loc[weather_df['PrecipTotal'] == '  T', 'PrecipTotal'] = 0.005

In [47]:
check_missing_data('PrecipTotal')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
117,2,2007-06-28,73.0,61.0,67.0,-5,56,61,0,2,0419,1930,,M,M,0.0,M,29.43,30.07,12.2,2,13.3
119,2,2007-06-29,71.0,56.0,64.0,-8,56,60,1,0,0419,1930,,M,M,0.0,M,29.47,30.11,7.4,2,8.2

In [48]:
impute_missing_float_data('PrecipTotal')

In [49]:
weather_df['PrecipTotal'] = weather_df['PrecipTotal'].astype(float)

### Depth
Depth has only 2 values. 'M' which denotes missing data or 0. We will look into dropping this column since it does not hold any meaningful data. Meanwhile, we will impute the values with 0 from the other Station.

In [50]:
weather_df['Depth'].value_counts()

M    1472
0    1472
Name: Depth, dtype: int64

In [51]:
impute_missing_data('Depth')

In [52]:
weather_df['Depth'].dtype

dtype('int32')

### StnPressure

In [53]:
check_missing_data('StnPressure')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86.0,68.0,77.0,6,53,62,0,12,0416,1926,,0,M,0.0,0.0,M,M,7.0,5,M
848,1,2009-06-26,86.0,69.0,78.0,7,60,67,0,13,0418,1931,,0,M,0.0,0.0,M,29.85,6.4,4,8.2
2410,1,2013-08-10,81.0,64.0,73.0,0,57,63,0,8,0454,1900,,0,M,0.0,0.0,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81.0,68.0,75.0,0,55,63,0,10,0454,1858,,0,M,0.0,0.0,M,30.07,6.0,6,7.4

In [54]:
weather_df[weather_df['StnPressure'] == 'M']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86.0,68.0,77.0,6,53,62,0,12,0416,1926,,0,M,0.0,0.0,M,M,7.0,5,M
848,1,2009-06-26,86.0,69.0,78.0,7,60,67,0,13,0418,1931,,0,M,0.0,0.0,M,29.85,6.4,4,8.2
2410,1,2013-08-10,81.0,64.0,73.0,0,57,63,0,8,0454,1900,,0,M,0.0,0.0,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81.0,68.0,75.0,0,55,63,0,10,0454,1858,,0,M,0.0,0.0,M,30.07,6.0,6,7.4

Data could not be imputed using data from the other Station as both rows do not have any values in 'StnPressure'. Hence, we will check for the 'StnPressure' for the day before and the day after, and impute the missing data with the mean of 'StnPressure' of these two days.

In [55]:
weather_df[weather_df['Date'] == '2013-08-10']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2410,1,2013-08-10,81.0,64.0,73.0,0,57,63,0,8,0454,1900,,0,M,0.0,0.0,M,30.08,5.3,5,6.5
2411,2,2013-08-10,81.0,68.0,75.0,0,55,63,0,10,0454,1858,,0,M,0.0,0.0,M,30.07,6.0,6,7.4

In [56]:
weather_df[weather_df['Date'] == '2013-08-09']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2408,1,2013-08-09,82.0,59.0,71.0,-2,60,65,0,6,0453,1902,,0,M,0.0,0.005,29.28,29.98,4.7,27,5.3
2409,2,2013-08-09,84.0,62.0,73.0,-2,58,65,0,8,0453,1859,,0,M,0.0,0.000,29.34,29.97,4.9,27,5.6

In [57]:
weather_df[weather_df['Date'] == '2013-08-11']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2412,1,2013-08-11,81.0,60.0,71.0,-2,61,64,0,6,0455,1859,RA,0,M,0.0,0.010,29.35,30.07,2.0,27,3.0
2413,2,2013-08-11,84.0,63.0,74.0,-2,57,64,0,9,0455,1857,,0,M,0.0,0.005,29.42,30.06,4.0,24,5.4

In [58]:
# Impute according to the average StnPressure of 2013-08-09 and 2013-08-11
weather_df.at[2410, 'StnPressure'] = round((29.28 + 29.34)/2, 2)
weather_df.at[2411, 'StnPressure'] = round((29.35 + 29.42)/2, 2)

In [59]:
weather_df[weather_df['Date'] == '2013-08-10']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2410,1,2013-08-10,81.0,64.0,73.0,0,57,63,0,8,0454,1900,,0,M,0.0,0.0,29.31,30.08,5.3,5,6.5
2411,2,2013-08-10,81.0,68.0,75.0,0,55,63,0,10,0454,1858,,0,M,0.0,0.0,29.39,30.07,6.0,6,7.4

In [60]:
impute_missing_float_data('StnPressure')

### SeaLevel

In [61]:
check_missing_data('SeaLevel')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86.0,68.0,77.0,6,53,62,0,12,0416,1926,,0,M,0.0,0.000,29.36,M,7.0,5,M
832,1,2009-06-18,80.0,61.0,71.0,1,63,67,0,6,0416,1929,RA BR,0,M,0.0,0.120,29.08,M,6.7,16,7.9
994,1,2009-09-07,77.0,59.0,68.0,1,59,62,0,3,0523,1817,BR,0,M,0.0,0.000,29.39,M,5.8,3,4.0
1732,1,2011-09-08,75.0,57.0,66.0,0,53,59,0,1,0524,1815,RA,0,M,0.0,0.005,29.34,M,13.0,2,13.4
1745,2,2011-09-14,60.0,48.0,54.0,-11,45,51,11,0,0530,1802,RA BR HZ FU,0,M,0.0,0.005,29.47,M,6.0,32,M
1756,1,2011-09-20,74.0,49.0,62.0,0,54,58,3,0,0537,1753,MIFG BCFG BR,0,M,0.0,0.000,29.26,M,7.3,18,7.3
2067,2,2012-08-22,84.0,72.0,78.0,-1,51,61,0,5,0507,1839,,0,M,0.0,0.000,29.39,M,4.7,19,M
2090,1,2012-09-03,88.0,71.0,80.0,12,70,73,0,15,0519,1824,BR,0,M,0.0,0.000,29.17,M,4.6,6,4.4
2743,2,2014-07-23,76.0,64.0,70.0,-7,56,61,0,5,0436,1918,,0,M,0.0,0.000,29.47,M,16.4,2,16.7

In [62]:
impute_missing_float_data('SeaLevel')

In [63]:
weather_df['SeaLevel'] = weather_df['SeaLevel'].astype(float)

### AvgSpeed

In [64]:
check_missing_data('AvgSpeed')

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
87,2,2007-06-13,86.0,68.0,77.0,6,53,62,0,12,0416,1926,,0,M,0.0,0.000,29.36,30.09,7.0,5,M
1745,2,2011-09-14,60.0,48.0,54.0,-11,45,51,11,0,0530,1802,RA BR HZ FU,0,M,0.0,0.005,29.47,30.09,6.0,32,M
2067,2,2012-08-22,84.0,72.0,78.0,-1,51,61,0,5,0507,1839,,0,M,0.0,0.000,29.39,30.07,4.7,19,M

In [65]:
impute_missing_float_data('AvgSpeed')

In [66]:
weather_df['AvgSpeed'] = weather_df['AvgSpeed'].astype(float)

In [67]:
weather_df.isin(['  T']).sum()[weather_df.isin(['  T']).sum() > 0]

Series([], dtype: int64)

In [68]:
weather_df.isin(['M']).sum()[weather_df.isin(['M']).sum() > 0]

Water1    2944
dtype: int64

# Drop Columns

In [69]:
weather_df = weather_df.drop(columns=['Water1', 'Depth', 'WetBulb'])

In [70]:
weather_df

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83.0,50.0,67.0,14,51,0,2,0448,1849,,0.0,0.000,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84.0,52.0,68.0,14,51,0,3,0448,1849,,0.0,0.000,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59.0,42.0,51.0,-3,42,14,0,0447,1850,BR,0.0,0.000,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60.0,43.0,52.0,-3,42,13,0,0447,1850,BR HZ,0.0,0.000,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66.0,46.0,56.0,2,40,9,0,0446,1851,,0.0,0.000,29.39,30.12,11.7,7,11.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2,2014-10-29,49.0,40.0,45.0,-4,34,20,0,0620,1649,,0.0,0.000,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51.0,32.0,42.0,-4,34,23,0,0622,1649,,0.0,0.000,29.34,30.09,5.1,24,5.5
2941,2,2014-10-30,53.0,37.0,45.0,-4,35,20,0,0621,1648,RA,0.0,0.005,29.41,30.10,5.9,23,6.5
2942,1,2014-10-31,47.0,33.0,40.0,-6,25,25,0,0623,1647,RA SN,0.1,0.030,29.49,30.20,22.6,34,22.9
2943,2,2014-10-31,49.0,34.0,42.0,-6,29,23,0,0622,1647,RA SN BR,0.1,0.040,29.54,30.20,21.7,34,22.6

In [71]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83.0,50.0,67.0,14,51,0,2,0448,1849,,0.0,0.0,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84.0,52.0,68.0,14,51,0,3,0448,1849,,0.0,0.0,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59.0,42.0,51.0,-3,42,14,0,0447,1850,BR,0.0,0.0,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60.0,43.0,52.0,-3,42,13,0,0447,1850,BR HZ,0.0,0.0,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66.0,46.0,56.0,2,40,9,0,0446,1851,,0.0,0.0,29.39,30.12,11.7,7,11.9

# Feature Engineering

## Relative Humidity
Formula to claculate humidity: [source](https://bmcnoldy.rsmas.miami.edu/Humidity.html)

In [72]:
weather_df['Tavg'] = weather_df['Tavg'].apply(to_celsius)
weather_df['Tmin'] = weather_df['Tmin'].apply(to_celsius)
weather_df['Tmax'] = weather_df['Tmax'].apply(to_celsius)

In [73]:
weather_df['DewPoint'] = weather_df['DewPoint'].apply(to_celsius)

In [74]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   datetime64[ns]
 2   Tmax         2944 non-null   float64
 3   Tmin         2944 non-null   float64
 4   Tavg         2944 non-null   float64
 5   Depart       2944 non-null   int32
 6   DewPoint     2944 non-null   float64
 7   Heat         2944 non-null   int32
 8   Cool         2944 non-null   int32
 9   Sunrise      2944 non-null   object
 10  Sunset       2944 non-null   object
 11  CodeSum      2944 non-null   object
 12  SnowFall     2944 non-null   float64
 13  PrecipTotal  2944 non-null   float64
 14  StnPressure  2944 non-null   float64
 15  SeaLevel     2944 non-null   float64
 16  ResultSpeed  2944 non-null   float64
 17  ResultDir    2944 non-null   int64
 18  AvgSpeed     2944 non-null   float64
dtypes: datetime64[ns](1), float64(10), int32(3), int64(2), object(3)
memory usage: 402.6+ KB

In [75]:
weather_df = weather_df.apply(humidity, axis = 1)

In [76]:
weather_df

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Humidity
0,1,2007-05-01,28.333333,10.000000,19.444444,14,10.555556,0,2,0448,1849,,0.0,0.000,29.10,29.82,1.7,27,9.2,56
1,2,2007-05-01,28.888889,11.111111,20.000000,14,10.555556,0,3,0448,1849,,0.0,0.000,29.18,29.82,2.7,25,9.6,55
2,1,2007-05-02,15.000000,5.555556,10.555556,-3,5.555556,14,0,0447,1850,BR,0.0,0.000,29.38,30.09,13.0,4,13.4,71
3,2,2007-05-02,15.555556,6.111111,11.111111,-3,5.555556,13,0,0447,1850,BR HZ,0.0,0.000,29.44,30.08,13.3,2,13.4,69
4,1,2007-05-03,18.888889,7.777778,13.333333,2,4.444444,9,0,0446,1851,,0.0,0.000,29.39,30.12,11.7,7,11.9,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2939,2,2014-10-29,9.444444,4.444444,7.222222,-4,1.111111,20,0,0620,1649,,0.0,0.000,29.42,30.07,8.5,29,9.0,65
2940,1,2014-10-30,10.555556,0.000000,5.555556,-4,1.111111,23,0,0622,1649,,0.0,0.000,29.34,30.09,5.1,24,5.5,73
2941,2,2014-10-30,11.666667,2.777778,7.222222,-4,1.666667,20,0,0621,1648,RA,0.0,0.005,29.41,30.10,5.9,23,6.5,68
2942,1,2014-10-31,8.333333,0.555556,4.444444,-6,-3.888889,25,0,0623,1647,RA SN,0.1,0.030,29.49,30.20,22.6,34,22.9,55
2943,2,2014-10-31,9.444444,1.111111,5.555556,-6,-1.666667,23,0,0622,1647,RA SN BR,0.1,0.040,29.54,30.20,21.7,34,22.6,60

In [77]:
weather_df['Humidity'].value_counts()

59     116
62     113
60     107
65     102
56     100
58      98
64      97
69      95
55      93
67      93
68      90
52      89
61      88
57      87
66      87
71      85
53      85
74      80
63      80
54      80
50      67
76      64
51      61
73      59
47      59
48      50
49      48
70      45
72      44
78      44
75      42
81      39
46      39
84      35
79      34
43      31
45      27
77      27
44      25
87      24
80      22
83      22
41      21
90      18
42      18
40      16
93      14
86      14
39       9
82       9
38       9
89       8
37       7
35       5
85       5
32       3
36       3
34       3
96       2
33       2
30       1
102      1
104      1
100      1
107      1
Name: Humidity, dtype: int64

## Daylength

In [78]:
weather_df['Sunrise'] = weather_df['Sunrise'].apply(pd.to_numeric)
weather_df['Sunset'] = weather_df['Sunset'].apply(pd.to_numeric)

In [79]:
weather_df['Daylength'] = weather_df.apply(lambda row: daylength(row['Sunset']) - daylength(row['Sunrise']), axis = 1)

# Merge Station 1 and 2

In [80]:
weather_df2 = weather_df.groupby('Date').sum() / 2
weather_df2 = weather_df2.drop(columns=['Station']).reset_index()

In [81]:
weather_df2.head()

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Humidity,Daylength
0,2007-05-01,28.611111,10.555556,19.722222,14.0,10.555556,0.0,2.5,448.0,1849.0,0.0,0.0000,29.140,29.820,2.20,26.0,9.40,55.5,841.0
1,2007-05-02,15.277778,5.833333,10.833333,-3.0,5.555556,13.5,0.0,447.0,1850.0,0.0,0.0000,29.410,30.085,13.15,3.0,13.40,70.0,843.0
2,2007-05-03,19.166667,8.333333,13.888889,2.0,4.444444,8.0,0.0,445.5,1851.0,0.0,0.0000,29.425,30.120,12.30,6.5,12.55,53.0,845.5
3,2007-05-04,22.222222,10.000000,16.250000,4.0,5.277778,7.0,0.0,444.0,1852.0,0.0,0.0025,29.335,30.045,10.25,7.5,10.60,48.5,848.0
4,2007-05-05,18.888889,11.944444,15.555556,5.0,3.611111,5.0,0.0,443.0,1853.0,0.0,0.0050,29.430,30.095,11.45,7.0,11.75,45.0,850.0

In [82]:
weather_df2.shape

(1472, 19)

In [83]:
weather_df.shape

(2944, 21)

In [84]:
weather_df.head(40)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Humidity,Daylength
0,1,2007-05-01,28.333333,10.000000,19.444444,14,10.555556,0,2,448,1849,,0.0,0.000,29.10,29.82,1.7,27,9.2,56,841
1,2,2007-05-01,28.888889,11.111111,20.000000,14,10.555556,0,3,448,1849,,0.0,0.000,29.18,29.82,2.7,25,9.6,55,841
2,1,2007-05-02,15.000000,5.555556,10.555556,-3,5.555556,14,0,447,1850,BR,0.0,0.000,29.38,30.09,13.0,4,13.4,71,843
3,2,2007-05-02,15.555556,6.111111,11.111111,-3,5.555556,13,0,447,1850,BR HZ,0.0,0.000,29.44,30.08,13.3,2,13.4,69,843
4,1,2007-05-03,18.888889,7.777778,13.333333,2,4.444444,9,0,446,1851,,0.0,0.000,29.39,30.12,11.7,7,11.9,55,845
5,2,2007-05-03,19.444444,8.888889,14.444444,2,4.444444,7,0,445,1851,HZ,0.0,0.000,29.46,30.12,12.9,6,13.2,51,846
6,1,2007-05-04,18.888889,9.444444,14.444444,4,5.000000,7,0,444,1852,RA,0.0,0.005,29.31,30.05,10.4,8,10.8,53,848
7,2,2007-05-04,25.555556,10.555556,18.055556,4,5.555556,7,0,444,1852,,0.0,0.000,29.36,30.04,10.1,7,10.4,44,848
8,1,2007-05-05,18.888889,11.666667,15.555556,5,3.333333,5,0,443,1853,,0.0,0.005,29.40,30.10,11.7,7,12.0,44,850
9,2,2007-05-05,18.888889,12.222222,15.555556,5,3.888889,5,0,443,1853,,0.0,0.005,29.46,30.09,11.2,7,11.5,46,850
10,1,2007-05-06,20.000000,9.444444,15.000000,4,-1.111111,6,0,442,1855,,0.0,0.000,29.57,30.29,14.4,11,15.0,33,853
11,2,2007-05-06,20.000000,11.111111,15.555556,4,-1.111111,5,0,442,1854,,0.0,0.000,29.62,30.28,13.8,10,14.5,32,852
12,1,2007-05-07,28.333333,8.333333,18.333333,10,5.000000,0,0,441,1856,RA,0.0,0.005,29.38,30.12,8.6,18,10.5,41,855
13,2,2007-05-07,28.888889,10.000000,19.444444,10,3.888889,0,2,440,1855,,0.0,0.000,29.44,30.12,8.5,17,9.9,36,855
14,1,2007-05-08,27.777778,12.222222,20.000000,12,14.444444,0,3,439,1857,BR,0.0,0.000,29.29,30.03,2.7,11,5.8,70,858
15,2,2007-05-08,26.666667,15.555556,21.111111,12,13.888889,0,5,439,1856,HZ,0.0,0.005,29.36,30.02,2.5,8,5.4,63,857
16,1,2007-05-09,25.000000,16.111111,20.555556,13,15.000000,0,4,438,1858,BR HZ,0.0,0.130,29.21,29.94,3.9,9,6.2,70,860
17,2,2007-05-09,24.444444,17.222222,21.111111,13,15.555556,0,5,438,1858,BR HZ,0.0,0.020,29.28,29.93,3.9,7,5.9,71,860
18,1,2007-05-10,28.888889,13.333333,21.111111,14,11.111111,0,5,437,1859,BR,0.0,0.000,29.20,29.92,0.7,17,4.1,53,862
19,2,2007-05-10,28.333333,15.000000,21.666667,14,11.111111,0,6,437,1859,BR HZ,0.0,0.000,29.26,29.91,2.0,9,3.9,51,862
20,1,2007-05-11,21.111111,10.555556,16.111111,4,5.555556,4,0,436,1860,,0.0,0.000,29.33,30.04,11.3,3,12.9,50,864
21,2,2007-05-11,22.777778,9.444444,16.111111,4,6.666667,4,0,436,1900,,0.0,0.000,29.39,30.03,11.7,36,12.8,54,864
22,1,2007-05-12,17.777778,7.777778,12.777778,-2,2.222222,10,0,435,1901,,0.0,0.000,29.49,30.20,12.4,3,12.9,49,866
23,2,2007-05-12,18.333333,8.333333,13.333333,-2,2.777778,9,0,435,1901,,0.0,0.000,29.54,30.19,12.7,1,13.0,49,866
24,1,2007-05-13,20.555556,6.111111,13.333333,-2,0.555556,9,0,434,1902,,0.0,0.000,29.49,30.24,6.6,14,8.1,42,868
25,2,2007-05-13,20.555556,6.666667,13.888889,-2,0.000000,8,0,434,1902,,0.0,0.000,29.55,30.24,6.4,11,7.6,39,868
26,1,2007-05-14,32.222222,13.333333,22.777778,15,8.333333,0,8,433,1903,,0.0,0.000,29.23,29.97,16.9,21,17.3,40,870
27,2,2007-05-14,32.222222,12.222222,22.222222,15,7.222222,0,7,433,1903,,0.0,0.000,29.31,29.98,14.1,21,14.6,38,870
28,1,2007-05-15,26.666667,13.888889,20.555556,11,13.333333,0,4,432,1904,RA BR,0.0,0.380,29.13,29.84,8.1,27,12.3,63,872
29,2,2007-05-15,27.777778,13.333333,20.555556,11,13.333333,0,4,432,1904,TSRA RA BR,0.0,0.600,29.19,29.83,8.1,25,10.8,63,872
30,1,2007-05-16,18.888889,6.666667,12.777778,-4,6.111111,10,0,431,1905,RA BR,0.0,0.140,29.33,30.03,7.8,36,12.2,64,874
31,2,2007-05-16,17.777778,7.222222,12.777778,-4,5.555556,10,0,431,1905,RA BR,0.0,0.070,29.39,30.03,8.0,36,11.8,61,874
32,1,2007-05-17,16.666667,6.111111,11.666667,-6,0.000000,12,0,430,1906,,0.0,0.000,29.55,30.27,10.5,3,11.3,45,876
33,2,2007-05-17,16.111111,6.666667,11.666667,-6,0.000000,12,0,430,1906,,0.0,0.000,29.62,30.27,11.7,1,12.2,45,876
34,1,2007-05-18,21.666667,5.555556,13.888889,-3,-1.111111,8,0,429,1907,,0.0,0.000,29.53,30.25,5.4,25,7.5,36,878
35,2,2007-05-18,21.111111,6.111111,13.888889,-3,-0.555556,8,0,429,1907,,0.0,0.000,29.60,30.26,3.4,22,5.5,37,878
36,1,2007-05-19,26.666667,13.333333,20.000000,8,3.888889,0,3,428,1908,,0.0,0.000,29.34,30.08,11.1,24,11.4,35,880
37,2,2007-05-19,26.666667,13.333333,20.000000,8,2.777778,0,3,428,1908,,0.0,0.000,29.41,30.08,11.1,23,11.4,32,880
38,1,2007-05-20,20.555556,6.111111,13.333333,-5,4.444444,9,0,427,1909,RA VCTS,0.0,0.070,29.38,30.11,10.4,4,10.7,55,882
39,2,2007-05-20,20.555556,6.666667,13.888889,-5,5.000000,8,0,427,1909,TSRA RA,0.0,0.110,29.44,30.11,8.6,3,9.7,55,882

In [85]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Station      2944 non-null   int64
 1   Date         2944 non-null   datetime64[ns]
 2   Tmax         2944 non-null   float64
 3   Tmin         2944 non-null   float64
 4   Tavg         2944 non-null   float64
 5   Depart       2944 non-null   int64
 6   DewPoint     2944 non-null   float64
 7   Heat         2944 non-null   int64
 8   Cool         2944 non-null   int64
 9   Sunrise      2944 non-null   int64
 10  Sunset       2944 non-null   int64
 11  CodeSum      2944 non-null   object
 12  SnowFall     2944 non-null   float64
 13  PrecipTotal  2944 non-null   float64
 14  StnPressure  2944 non-null   float64
 15  SeaLevel     2944 non-null   float64
 16  ResultSpeed  2944 non-null   float64
 17  ResultDir    2944 non-null   int64
 18  AvgSpeed     2944 non-null   float64
 19  Humidity     2944 non-null   int64
 20  Daylength    2944 non-null   int64
dtypes: datetime64[ns](1), float64(10), int64(9), object(1)
memory usage: 483.1+ KB

In [86]:
weather_df.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,Heat,Cool,Sunrise,Sunset,CodeSum,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,Humidity,Daylength
0,1,2007-05-01,28.333333,10.000000,19.444444,14,10.555556,0,2,448,1849,,0.0,0.0,29.10,29.82,1.7,27,9.2,56,841
1,2,2007-05-01,28.888889,11.111111,20.000000,14,10.555556,0,3,448,1849,,0.0,0.0,29.18,29.82,2.7,25,9.6,55,841
2,1,2007-05-02,15.000000,5.555556,10.555556,-3,5.555556,14,0,447,1850,BR,0.0,0.0,29.38,30.09,13.0,4,13.4,71,843
3,2,2007-05-02,15.555556,6.111111,11.111111,-3,5.555556,13,0,447,1850,BR HZ,0.0,0.0,29.44,30.08,13.3,2,13.4,69,843
4,1,2007-05-03,18.888889,7.777778,13.333333,2,4.444444,9,0,446,1851,,0.0,0.0,29.39,30.12,11.7,7,11.9,55,845

In [87]:
set(weather_df.columns) - set(weather_df2.columns)

{'CodeSum', 'Station'}

In [88]:
temp = pd.Series([], name='CodeSum', dtype='str')
for i in range(0, len(weather_df),2):
   temp[i/2]= ' '.join(set(weather_df.loc[i, 'CodeSum'].split()).union(set(weather_df.loc[i+1, 'CodeSum'].split())))

In [89]:
weather_df2 = weather_df2.merge(temp, left_index=True, right_index=True)

# Export to CSV

In [91]:
weather_df2.to_csv('./data/weather_cleaned.csv')

In [ ]:
# weather_df2.to_csv('../datasets/weather_cleaned_h.csv')